<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SimpleWebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>net.java.registration.controler.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUserControler</display-name>
    <servlet-name>DisplayUserControler</servlet-name>
    <servlet-class>net.java.display.controler.DisplayUserControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUserControler</servlet-name>
    <url-pattern>/DisplayUserControler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUserServlet</display-name>
    <servlet-name>DisplayUserServlet</servlet-name>
    <servlet-class>net.java.registration.controler.DisplayUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUserServlet</servlet-name>
    <url-pattern>/DisplayUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomepageServlet</display-name>
    <servlet-name>HomepageServlet</servlet-name>
    <servlet-class>net.java.registration.controler.HomepageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomepageServlet</servlet-name>
    <url-pattern>/HomepageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OneUserServlet</display-name>
    <servlet-name>OneUserServlet</servlet-name>
    <servlet-class>net.java.registration.controler.OneUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OneUserServlet</servlet-name>
    <url-pattern>/OneUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NotFoundServlet</display-name>
    <servlet-name>NotFoundServlet</servlet-name>
    <servlet-class>net.java.registration.controler.NotFoundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotFoundServlet</servlet-name>
    <url-pattern>/NotFoundServlet</url-pattern>
  </servlet-mapping>
</web-app>